<nav class="navbar navbar-light bg-light">
  <div class="container">
    <%= link_to "Techpit Clothes", root_path, class: "navbar-brand" %>
    <%= link_to carts_path(@cart) do %>
      <span class="fas fa-shopping-cart">カート</span>
    <% end %>
  </div>
</nav>